<!--
  Generated template for the DataMoviePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ movie.title}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>   
    <img src= "https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}">
        <ion-card-content>
            <ion-note icon-left *ngIf="!movie.adult"><ion-icon name="checkmark-circle-outline"></ion-icon>Apto para todo público</ion-note>
            <ion-note icon-left *ngIf="movie.adult"><ion-icon name="contact"></ion-icon>Contenido para adultos</ion-note>

            <p>{{ movie.overview }}</p>
            <ion-badge item-end><p *ngIf="movie.release_date">Estreno: {{ movie.release_date | date: 'dd-MM-yyyy' }}</p></ion-badge>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="star"></ion-icon>
              <div>{{ movie.vote_average }}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{ movie.popularity }}</div>
            </button>
          </ion-col>

        </ion-row>
</ion-content>
